/* Estilos Gerais */

body {
  font-family: "Raleway", Georgia, "Times New Roman";
  background: #f9f9f9;
}

p {
  font-family: "Merriweather", Arial, Helvetica;
  font-size: 14px;
  line-height: 20px;
}

img {
  width: 100%;
  display: block;
}

.btn {
  padding: 17px 73px;
  color: #fff;
  font-family: "Merriweather", Arial, Helvetica;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 10px;
  background: #152040;
}

.btn:hover {
  color: #e1e1e7;
  background: #154060;
}

.subtitulo {
  color: #0d0d0d;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.subtitulo:after {
  width: 50px;
  height: 3px;
  display: block;
  margin: 10px auto 10px auto;
  content: "";
  background: #0d0d0d;
}

.preenchimento-titulo {
  padding: 15px 0;
  background: #152040;
}

/* Header */

.header {
  width: 100%;
  background-color: #152040;
  padding: 40px 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo-relogium {
  color: #f9f9f9;
  font-family: "Raleway", Georgia, serif;
  font-size: 36px;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}

.header_menu ul li a {
  color: #f9f9f9;
  padding: 10px 0;
  font-family: "Merriweather", Arial, Helvetica;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 30px;
}

.header_menu ul li a:hover {
  color: #d5d5d5;
}

.header_menu ul li a.ativo {
  color: #d5d5d5;
}

/* Introdução */

.introducao {
  width: 100%;
  height: 300px;
  margin-top: 160px;
  background: url("/img/bg.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}

.introducao div {
  padding-top: 30px;
}

.introducao h1 {
  margin-bottom: 30px;
  color: #f9f9f9;
  font-size: 48px;
  text-transform: uppercase;
}

.quote-externo p {
  max-width: 470px;
  margin: 0 auto;
  margin-bottom: 25px;
  color: #f9f9f9;
  font-family: "Merriweather", Georgia, "Times New Roman";
  font-size: 18px;
  line-height: 25px;
}

.quote-externo cite {
  color: #f9f9f9;
  font-family: "Merriweather", Arial, Helvetica;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
}

.quote-externo p:before,
.quote-externo p:after {
  width: 460px;
  height: 3px;
  display: block;
  margin: 10px auto 10px auto;
  content: "";
  background: #f9f9f9;
}

/* Introdução Interna */

.interna {
  width: 100%;
  height: 180px;
  margin-top: 160px;
  background: url("/img/bg.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}

/* Qualidades */

.refinado {
  padding: 60px 0;
  text-align: center;
}

.refinado li {
  margin-top: 48px;
}

.preenchimento-conteudo img {
  margin: 0 auto;
}

.preenchimento-conteudo {
  background: #fff;
  border: solid 1px #d9d9d9;
}

.refinado li h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #f9f9f9;
}

.refinado li h3:after {
  display: block;
  margin: 10px auto 30px auto;
  content: "";
  width: 50px;
  height: 3px;
  background: #f9f9f9;
}

.call {
  padding-top: 55px;
  clear: both;
}

/* Personalizado e Luxo */

.personalizado-e-luxo {
  width: 100%;
  margin-bottom: 45px;
  padding: 41px 0 66px 0;
  text-align: center;
  background: #d2d7d9;
}

.pers_luxo-lista {
  margin-top: 70px;
}

.preenchimento-titulo-pers,
.preenchimento-titulo-luxo h3 {
  margin-bottom: 20px;
  padding: 26px 0;
  color: #f9f9f9;
  font-family: "Raleway", Georgia, serif;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 0.1em;
  background: #152040;
}

.preenchimento-titulo-pers h3:after,
.preenchimento-titulo-luxo h3:after {
  display: block;
  margin: 10px auto 10px auto;
  content: "";
  width: 50px;
  height: 3px;
  background: #f9f9f9;
}

.pers_luxo-lista li {
  background: #f9f9f9;
}

.img-pers,
.img-luxo {
  max-width: 350px;
  margin: 0 auto 40px auto;
  padding: 80px 0;
  border-radius: 10px;
}

.img-pers {
  background: url("/img/estoque/relogio-pers-4.jpg") no-repeat center;
}

.img-luxo {
  background: url("/img/parcerias/relogio-luxo-2.jpg") no-repeat center;
}

.quote-personalizado li {
  margin-bottom: 20px;
  font-family: "Merriweather", Arial, Helvetica;
  font-size: 18px;
  line-height: 25px;
}

.quote-luxo li {
  margin-bottom: 20px;
  font-family: "Merriweather", Arial, Helvetica;
  font-size: 18px;
  line-height: 25px;
}

.personalizado-e-luxo .call {
  margin: 0 auto;
}

/* Rodapé */

.rodape {
  width: 100%;
  padding: 40px 0 15px 0;
  text-align: center;
  background: #152040;
}

.rodape .subtitulo {
  color: #f9f9f9;
}

.rodape .subtitulo:after {
  background: #f9f9f9;
}

.rodape ul li:nth-child(1) {
  margin-top: 25px;
}

.rodape ul li {
  margin-bottom: 10px;
  color: #f9f9f9;
  font-family: "Merriweather", Arial, Helvetica;
  font-size: 18px;
  line-height: 25px;
}

/* Animações */

.js [data-anime] {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}

.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}

.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}
